---
layout: default
---

<div class="blog">

  {{ content }}

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-arrow-circle-left"></i></a>
    {% else %}
      <span class="previous disabled"><i class="fa fa-arrow-circle-o-left"></i></span>
    {% endif %}
    <span class="page-number ">{{ paginator.page }} | {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-arrow-circle-right"></i></a>
    {% else %}
      <span class="next disabled"><i class="fa fa-arrow-circle-o-right"></i></span>
    {% endif %}
  </div>


</div>
